<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About Us</a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div class="wrapper">
  <header>
    <div class="headline">
      <!-- <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a> -->
    </div>
    <ul id="slides">
      <li class="slide slide1 showing">
        <div class="header-section">
          <div class="intro-heading">
            Do you want to set up a foreign subsidiary in India ?
          </div>
        </div>
      </li>
      <li class="slide slide2">
        <div class="header-section">
          <div class="intro-heading">Tax filing of NRI's</div>
        </div>
      </li>
      <li class="slide slide3">
        <div class="header-section">
          <div class="intro-heading">
            Are you exporting software services from India ?
          </div>
        </div>
      </li>
      <li class="slide slide4">
        <div class="header-section">
          <div class="intro-heading">
            Are you doing related party transactions ?
          </div>
        </div>
      </li>
      <button onClick="prevSlide();">
        <i class="arrow arrow-next fa fa-angle-left fa-5x"></i>
      </button>
      <button onClick="nextSlide();">
        <i class="arrow arrow-prev fa fa-angle-right fa-5x"></i>
      </button>
    </ul>
  </header>

  <script>
    var slides = document.querySelectorAll("#slides .slide");
    var currentSlide = 0;

    // Uncomment for auto play
    var slideInterval = setInterval(nextSlide, 5000);

    function nextSlide() {
      slides[currentSlide].classList.remove("showing");
      currentSlide = (currentSlide + 1) % slides.length;
      slides[currentSlide].classList.add("showing");
      console.log("next slide");
    }

    function prevSlide() {
      if (currentSlide > 0) {
        slides[currentSlide].classList.remove("showing");
        currentSlide = (currentSlide - 1) % slides.length;
        slides[currentSlide].classList.add("showing");
        console.log("prev slide");
      }
      console.log("no previous slide");
    }
  </script>
</div>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
