<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">
          <!-- Lorem ipsum dolor sit amet consectetur. -->
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Business Start Up’s</h4>
        <p class="text-muted">
          Foreign Subsidiary Public Limited Company Private Limited Company
          Limited Liability Partnership’s (LLP) Non Profit Organisations Trust/
          Institutions
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Audit & Assurance</h4>
        <p class="text-muted">
          Statutory Audit Transfer Pricing Audit Process Audit Compliance Audit
          Investment Audit Inventory Audit
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Forex Compliance & Management</h4>
        <p class="text-muted">
          Foreign Direct Investment (FDI) Overseas Direct Investment (ODI)
          Softex Filing Foreign Liabilities & Assets ( FLA) Foreign Currency
          Regulation Act ( FCRA) Business and Share Valuations
        </p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Tax Compliance</h4>
        <p class="text-muted">
          Corporate Tax Planning & Compliance Tax Deductions and Optimization
          Strategies Assisting in Preparation and filing of forms for NRI
          Appearing before tax authorities Tax applicability determination and
          reconciliation Tax Refund processing
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Legal & Drafting</h4>
        <p class="text-muted">
          Drafting of Master Service Agreements (MSA) Preparation of Standard of
          work (SOW) Preparation of Non- Disclosure Agreements (NDA) Drafting of
          Shareholders Agreements Drafting of MOU/Contracts Drafting of
          Partnerhsip/LLp Deed’s
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <!-- <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
        </span>
        <h4 class="service-heading">Registration</h4>
        <p class="text-muted">
          Import Export Code (IEC) Legal Entity Identifier (LEI) Provident Fund
          ( PF) Start Up Registration Real Estate Regulatory Authority ( RERA)
          Trust /Partnerhsip
        </p>
      </div>
    </div>
  </div>
</section>
