<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Services</h2>
        <h3 class="section-subheading text-muted">
          <!-- Lorem ipsum dolor sit amet consectetur. -->
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Business Start Up’s</h4>
          <p class="text-muted">
            Foreign Subsidiary<br />
            Public Limited Company<br />
            Private Limited Company<br />
            Limited Liability Partnership’s (LLP)<br />
            Non Profit Organisations<br />
            Trust/ Institutions<br />
          </p>
        </div>
      </div>
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Audit & Assurance</h4>
          <p class="text-muted">
            Statutory Audit<br />
            Transfer Pricing Audit<br />
            Process Audit<br />
            Compliance Audit<br />
            Investment Audit<br />
            Inventory Audit<br />
          </p>
        </div>
      </div>
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Forex Compliance & Management</h4>
          <p class="text-muted">
            Foreign Direct Investment (FDI)<br />
            Overseas Direct Investment (ODI)<br />
            Softex Filing<br />
            Foreign Liabilities & Assets ( FLA)<br />
            Foreign Currency Regulation Act ( FCRA)<br />
            Business and Share Valuations<br />
          </p>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Tax Compliance</h4>
          <p class="text-muted">
            Corporate Tax Planning & Compliance<br />
            Tax Deductions and Optimization Strategies<br />
            Assisting in Preparation and filing of forms for NRI<br />
            Appearing before tax authorities<br />
            Tax applicability determination and reconciliation<br />
            Tax Refund processing<br />
          </p>
        </div>
      </div>
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Legal & Drafting</h4>
          <p class="text-muted">
            Drafting of Master Service Agreements (MSA)<br />
            Preparation of Standard of work (SOW)<br />
            Preparation of Non- Disclosure Agreements (NDA)<br />
            Drafting of Shareholders Agreements<br />
            Drafting of MOU/Contracts<br />
            Drafting of Partnerhsip/LLp Deed’s<br />
          </p>
        </div>
      </div>
      <div class="col-md-4 service-text">
        <div>
          <h4 class="service-heading">Registration</h4>
          <p class="text-muted">
            Import Export Code (IEC)<br />
            Legal Entity Identifier (LEI)<br />
            Provident Fund ( PF)<br />
            Start Up Registration<br />
            Real Estate Regulatory Authority ( RERA)<br />
            Trust /Partnerhsip<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
